@import "tailwindcss";
@import "@fontsource-variable/lexend";

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
:root {
  --dim: #090909;
  --darkest: #111111;
  --darkest-hover: #262626;
  --quite-dark: #171717;
  --quite-dark-hover: #303030;
  --gray: #504f4f;
  --light: #e9e8e9;
  --vibrant: #0061ff;
  --vibrant-hover: #0808ff;
}

body {
  background: var(--quite-dark);
  color: var(--light);
}

* {
  font-family: "Lexend Variable", sans-serif;
}
